<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated smvcml -->
      <package
            uri="http://www.mdse-book.org/smvcml"
            class="smvcml.SmvcmlPackage"
            genModel="model/smvcml.genmodel"/>
   </extension>

</plugin>
