<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.acceleo.ide.ui.launching.launchConfigurationType">
<stringAttribute key="bad_container_name" value="\mdse.book.transformation.m2t\L"/>
<stringAttribute key="org.eclipse.acceleo.ide.ui.ARGUMENTS" value=""/>
<booleanAttribute key="org.eclipse.acceleo.ide.ui.COMPUTE_PROFILING" value="false"/>
<booleanAttribute key="org.eclipse.acceleo.ide.ui.COMPUTE_TRACEABILITY" value="false"/>
<stringAttribute key="org.eclipse.acceleo.ide.ui.LAUNCHING_STRATEGY_DESCRIPTION" value="Java Application"/>
<stringAttribute key="org.eclipse.acceleo.ide.ui.MODEL_PATH" value="/mdse.book.transformation.m2t/input/sMVC_Model.xmi"/>
<stringAttribute key="org.eclipse.acceleo.ide.ui.TARGET_PATH" value="/mdse.book.transformation.m2t/output"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/mdse.book.transformation.m2t/src/book/codeGen/files/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="book.codeGen.files.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;D:/books/MDSEBook/Chapter_9_codeGen/mdse.book.transformation.m2t/input/sMVC_Model.xmi&quot; &quot;D:/books/MDSEBook/Chapter_9_codeGen/mdse.book.transformation.m2t/output&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="mdse.book.transformation.m2t"/>
</launchConfiguration>
